<div class="tradies-list" >
    <div class="card" *ngFor="let tradie of tradies" (click)="itemClicked(tradie)"
    [ngClass]="{'selected':tradie.checked}">
        <img class="card-img" src="{{tradie.svg}}" />
        <p class="text">{{tradie.name}}</p>
    </div>
</div>



<div class="tradies-sub" *ngIf="selectedSubTradies.length>0">

    <div *ngFor="let sub of selectedSubTradies" (click)="selectSub(sub)" [ngClass]="{'select-sub':subSet.has(sub)}" class="tradie-sub-container">
        <p class="tradie-sub-text">
            {{sub}} 
            <img *ngIf="subSet.has(sub)" style="padding-left: 8px;" src="././assets/images/tick.svg" /></p>
    </div>

</div>